base_url = "https://orellazri.com"
title = "Orel Lazri"
default_language = "en"

compile_sass = true
minify_html = false
build_search_index = false
theme = "serene"
taxonomies = [{ name = "tags" }]
generate_feeds = true
feed_filenames = ["atom.xml"]

[markdown]
highlight_code = true
highlight_theme = "css"
extra_syntaxes_and_themes = ["themes/serene/highlight_themes"]
highlight_themes_css = [
  { theme = "serene-light", filename = "hl-light.css" },
  { theme = "serene-dark", filename = "hl-dark.css" },
]
render_emoji = false
external_links_target_blank = false
external_links_no_follow = true
external_links_no_referrer = true
smart_punctuation = false

[slugify]
paths = "on"
taxonomies = "on"
anchors = "on"

[extra]
sections = [
  { name = "posts", path = "/posts", is_external = false },
  { name = "projects", url = "/projects", is_external = false },
  { name = "rss", url = "/atom.xml", is_external = false },
]
blog_section_path = "/posts"

back_link_text = "Back" # Text of the back button
force_theme = false # false | "light" | "dark"

not_found_error_text = "404 Not Found"
not_found_recover_text = "« back to home »"

footer_copyright = ""
footer_credits = false

reaction = false
