<div style="display: flex; flex-direction: row; gap: 2em;">
  <img width="200px"
    src="https://cdn.vox-cdn.com/thumbor/w2P7h9AY3B_TL2RveD8l0WII8EE=/0x27:4415x3338/1200x800/filters:focal(0x27:4415x3338)/cdn.vox-cdn.com/uploads/chorus_image/image/43170476/ghosts.0.0.jpg" />

  <div>
    Hi, I'm Orel Lazri, and I'm currently working as a Senior DevOps Engineer at Nexxen.
    <br /><br />
    I use my site as a method of blogging about my learnings, as well as sharing information about projects I have
    previously, or am currently, working on in my spare time.
  </div>
</div>

<div style="text-align: center; margin-top: 2em;">
  <div>
    <a href="https://github.com/orellazri" target="_blank">GitHub</a> &bull; <a
      href="https://www.linkedin.com/in/orellazri/" target="_blank">LinkedIn</a>
  </div>
</div>
