/*
 * Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 840px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

#root,
#__next {
  isolation: isolate;
}

pre {
  padding: 1.2rem;
  border-radius: 6px;
  overflow-x: auto;
  line-height: 1.5;
}

pre code {
  background: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-decoration-color);
  background-clip: padding-box;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--text-decoration-color) rgba(255, 255, 255, 0.1);
  }

  body {
    overflow-y: auto;
  }
}
