@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  background: #000000;
  color: #ffffff;

  max-width: 680px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

a {
  color: #c048f7;
  text-decoration: underline;
}

header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
