{% extends "base.html" %}

{% block title %}Orel Lazri{% endblock %}

{% block content %}
<section class="intro">
  <h1>Hey, I'm Orel—</h1>
  <p class="intro-subtitle">a software engineer</p>

  <div>
    <p>
      This is my small corner on the internet. I'm a software engineer with a passion for open
      source software, Linux, homelabs, exploring new
      technologies, speciality coffee ☕, and of course, Arctic Monkeys 🐒.
    </p>

    <p>
      I use my site as a method of blogging about my learnings, as well as sharing information about projects I have
      previously, or am currently, working on.
    </p>
  </div>
</section>
{% endblock %}
