{% extends "base.html" %}

{% block title %}Orel Lazri{% endblock %}

{% block content %}
<div class="index-main">
  <h1 class="index-title">Hey, I'm Orel—</h1>
  <h2 class="index-subtitle">a software engineer</h2>

  <div class="index-text">
    <p>
      Hi! My name is Orel, and this is my small corner on the internet. I'm a software engineer with a passion for open
      source software, Linux, homelabs, exploring new
      technologies, speciality coffee ☕, and of course, Arctic Monkeys 🐒.
    </p>

    <p>
      I use my site as a method of blogging about my learnings, as well as sharing information about projects I have
      previously, or am currently, working on.
    </p>

    <p>
      Feel free to reach me at <a href="mailto:hi@orellazri.com">hi@orellazri.com</a>.
    </p>
  </div>
</div>
{% endblock %}
